<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<peer>
		<server>
			<serverPort>3000</serverPort>
			<nbThread>20</nbThread>
		</server>
		<client>
		<!-- TODO -->
		</client>
		<fileFolder>downloads</fileFolder>
		<hachage>
			<algorithm>SHA</algorithm>
		</hachage>
	</peer>
	<tracker>
		<trackerPort>4000</trackerPort>
		<address>127.0.0.1</address>
		<trackerName>localhost</trackerName>
	</tracker>
	<file>
		<item>
			<fileName>test.txt</fileName>
			<size>10</size>
			<key>aaaa</key>
			<cutSize>2</cutSize>
			<bufferMap>11111</bufferMap>
		</item>
		<item>
			<fileName>exp.txt</fileName>
			<size>100</size>
			<key>ireazirjkldqjfqsdfjpuzaç68496aze</key>
			<cut>5</cut>
			<bufferMap>01010</bufferMap>
		</item>
	</file>
</config>